
.admin-panel{
    height: 100vh;
    width: 100%;
    background-color: #5d5d5d;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.admin-login-panel{
    height: 250px;
    width: 300px;
    display: block;
    background-color: #fefefe;
    
}

